{% extends 'menu_abs.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/account.css' %}">
<title>Личный кабинет</title>
{% endblock head %}
{% block content %}
<div class="profile">
    <div class="profile-orgs-list-wrapper">
        <p class="profile-orgs-list-header">Компании</p>
        <div class="profile-orgs-list">
            {% if companies %}
                <ul>
                    {% for company in companies %}
                    <li><a href="/account/payslips/{{ company.inn }}">{{ company.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
            Пока нет ни одной Компании
            {% endif %}
        </div>
    </div>
    <div class="account-data-wrapper">
        <p class="account-data-header">Ваши данные</p>
        <div class="account-data">
            Ваши данные:<br>
            Имя: {{ user.first_name }}<br>
            Фамилия: {{ user.last_name }}<br>
            Отчество: {{ user.patronymic }}<br>
            Телефон: {{ user.phone }}<br>
            {% if user.snils %}
            СНИЛС: {{ user.snils }}<br>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
