<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
    <title>Вход</title>
</head>
<body>
    {% block content %}
        <div class='login-field'>
            <form method='POST' class='login-form'>
                {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button class='login-button' type='submit'>Вход</button>
                    </div>
                    <div>
                        <a href="/account/registration" class="reg-redirect">Регистрация</a>
                    </div>
            </form>
        </div>
    {% endblock content %}
</body>
</html>
