<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выход из аккаунта</title>
</head>
<body>
    {% block content %}
        <div class='wrapper'>
            <h1>Вы успешно вышли из аккаунта!</h1>
            <a href="/account/login">Войти снова</a>
            <a href="/account/registration">Зарегистрироваться</a>
        </div>
    {% endblock content %}
</body>
</html>
