<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/menu.css' %}">
    {% block head %}{% endblock head %}
</head>
<body>
    <div class="wrapper">
        <div class="top-bar">
            <div class="profile-button">
                <a href="/account/">Профиль</a>
            </div>
            <div class="logout-button">
                <a href="/account/logout" style="margin: auto;">Выход</a>
            </div>
        </div>
        {% block content %}{% endblock content %}
        <div class="basement"></div>
    </div>
</body>
</html>